@page "/game/{Language}/{Category}"

<p>not implemented</p>

@code {
    [Parameter]
    public string Language { get; set; } = string.Empty;
    [Parameter]
    public string Category { get; set; } = string.Empty;
}
